{{define "footer"}}
        <script type="text/javascript" src="/js/plugins.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/vendor/combodate.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
        <script type="text/javascript">
          moment.locale('fr');
        </script>
        <script type="text/javascript" src="/js/vendor/jquery.shorten.js"></script>
        <script language="javascript">
          $jq(document).ready(function() {
            $jq("p.What").shorten({
              showChars: 110,
              ellipsesText: "...",
              moreText: "voir plus",
              lessText: "cacher",
            });
          });
        </script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-61224046-1', 'auto');
          ga('send', 'pageview');

        </script>
{{end}}
